@keyframes slide-in-top {
    0% {
        transform: translateY(-50rem);
        opacity: 0;
    }
    20% {
        opacity: 0.3;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out-top {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50rem);
        opacity: 0;
    }
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(50rem);
        opacity: 0;
    }
    20% {
        opacity: 0.3;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out-bottom {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(50rem);
        opacity: 0;
    }
}

@keyframes slide-show-right {
    100% {
        transform: translateX(-66.6%);
    }
}
