// FONT FAMILY
$font-family-default: 'Lora', serif;
$font-family-logo: 'MonteCarlo', cursive;
$font-family-alt: 'Montserrat', sans-serif;

// FONT SIZE
$font-size-small: 1.3rem;
$font-size-default: 1.6rem;
$font-size-medium: 2rem;
$font-size-large: 3.2rem;
$font-size-x-large: 3.6rem;
$font-size-huge: 4.8rem;

// COLORS
$color-primary-light: #1fbfb8;
$color-primary: #1978a5;
$color-primary-dark: #138fc6;

$color-secondary-light: #ffd700;
$color-secondary-dark: #ef9d10;

$color-white: #fff;
$color-black: #000;

$font-color-default: #444;
$font-color-inverted: #ddd;
