.footer {
    background-color: $color-black;
    height: 30rem;
    padding: 3rem;
    width: 100vw;
    position: relative;

    @media screen and (max-width: 768px) {
        height: 45rem;
    }

    @media screen and (max-width: 375px) {
        height: 55rem;
    }

    @media screen and (max-width: 375px) {
        padding: 1.5rem;
    }

    & .row {
        width: 80rem;
        margin-left: auto;

        @media screen and (max-width: 768px) {
            margin-top: 9rem;
        }

        @media screen and (max-width: 480px) {
            width: 50rem;
            margin-left: 0;
        }

        @media screen and (max-width: 375px) {
            width: 40rem;
        }

        @media screen and (max-width: 320px) {
            width: 100%;
            margin: 10rem auto 0;
        }
    }

    &__logo-box {
        color: $color-secondary-light;
        position: absolute;
        top: 5%;
    }

    &__navigation {
        margin: 3rem;
        width: 35rem;

        @media screen and (max-width: 768px) {
            margin: 3rem 0;
        }
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        height: 12rem;
        flex-wrap: wrap;
    }

    &__item {
        display: inline-block;
    }

    &__link {
        color: $color-white;
        font-family: $font-family-alt;
        font-size: $font-size-medium;
        cursor: pointer;

        @media screen and (max-width: 375px) {
            font-size: $font-size-default;
        }
    }

    &__copyright {
        color: $color-white;
        user-select: none;
        position: absolute;
        bottom: 5%;

        & span {
            font-family: $font-family-logo;
            font-size: $font-size-medium;
        }
    }

    &__icon-box {
        display: flex;
        justify-content: center;
    }

    &__icon {
        width: 3.6rem;
        height: 3.6rem;
        fill: $color-white;
        margin: 1rem;
    }

    &__button {
        margin: auto 3rem auto auto;
        width: fit-content;
        display: block;
        border: 2px solid $color-white;

        @media screen and (max-width: 768px) {
            margin: auto 0 auto auto;
        }

        @media screen and (max-width: 375px) {
            margin-right: auto;
        }
    }
}
