.header {
    height: calc(100vh - 12rem);
    border-radius: 1.5rem;
    background-image: linear-gradient(
            to right,
            rgba($color-primary, 0.2),
            rgba($color-primary-light, 0.2)
        ),
        url(../../assets/img/hotel-overview.jpg);
    background-size: cover;
    background-position: 0% 30%;
    background-repeat: no-repeat;
    position: relative;

    @media only screen and (min-width: 1440px),
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px) {
        background-image: linear-gradient(
                to right,
                rgba($color-primary, 0.2),
                rgba($color-primary-light, 0.2)
            ),
            url(../../assets/img/hotel-overview-large.jpg);
    }

    @media screen and (max-width: 375px) {
        height: calc(50rem);
    }

    &__logo {
        user-select: none;
        font-family: $font-family-logo;
        font-size: $font-size-large;
        height: 6rem;
        position: absolute;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        top: -6rem;
        left: 50%;
    }

    &__text-container {
        white-space: nowrap;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 35%;
        left: 50%;
        pointer-events: none;
    }

    & .heading-primary--main *,
    & .heading-primary--sub * {
        display: inline-block;
    }

    &__button-container {
        position: absolute;
        bottom: 20%;
        right: 20%;
        transition: border 0.5s;
        transition-delay: 0.1s;
        border: 3px solid transparent;
        border-radius: 1rem;

        &:hover {
            border: 3px solid $color-white;
        }
    }

    &__button {
        // box-shadow: 0px 5px 10px rgba($color-white, 0.7);
        transform: translate(0.5rem, 0.5rem);
        transition: all 0.1s ease-in;
        color: $color-white;
        background-color: rgba($color-primary-dark, 0.7);

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: rgba($color-primary, 1);
        }

        &:active {
            box-shadow: none;
            transform: translate(0);
        }
    }
}
