.navigation {
    position: fixed;
    top: 2rem;
    left: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.8s ease-in-out;
    z-index: 9999;
    font-family: $font-family-alt;
    cursor: pointer;

    @media screen and (max-width: 480px) {
        left: 4rem;
    }

    @media screen and (max-width: 375px) {
        left: 2rem;
    }

    &__icon {
        position: relative;

        &,
        &::before,
        &::after {
            display: inline-block;
            background-color: $font-color-default;
            width: 2.5rem;
            height: 1px;
            transition: all 0.8s ease-in-out;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
        }

        &::before {
            top: -5px;
        }

        &::after {
            top: 5px;
        }
    }

    &:hover &__icon {
        transform: translate(1rem);
    }

    &__text {
        font-size: $font-size-small;
        margin-right: 2rem;

        @media screen and (max-width: 480px) {
            margin-right: 1rem;
        }

        @media screen and (max-width: 375px) {
            margin-right: 0.5rem;
        }
    }

    &--inverted {
        color: $font-color-inverted;
    }

    &--inverted &__icon {
        height: 0;
        background-color: transparent;

        &::before,
        &::after {
            background-color: $font-color-inverted;
        }

        &::before {
            transform: translateY(5px) rotate(405deg);
        }
        &::after {
            transform: translateY(-5px) rotate(-405deg);
        }
    }
}
