.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        font-size: $font-size-medium;
        text-decoration: none;
        cursor: pointer;
        padding: 1.5rem 2rem;
        font-family: $font-family-alt;
        border: none;
    }

    &--default {
        color: $font-color-default;
    }

    &--blue {
        color: $color-white;
        background-color: $color-primary-dark;
    }

    &--black {
        color: $color-white;
        background-color: $color-black;

        &:hover {
            background-color: $color-white;
            color: $color-black;
        }
    }

    &--grid {
        color: $font-color-inverted;
    }
}
