.explore {
    margin: 0 auto;
    max-width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__box {
        height: 35rem;
        margin: 2rem;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--1,
        &--4,
        &--5,
        &--8 {
            position: relative;
            &:after {
                position: absolute;
                font-size: $font-size-huge;
                letter-spacing: 0.2em;
                opacity: 0;
                transition: opacity 0.8s;
                top: 5%;
                left: 5%;
            }

            &:hover {
                &::after {
                    opacity: 0.5;
                }
            }
        }

        &--1 {
            &::after {
                content: 'enjoy';
            }
        }
        &--4 {
            &::after {
                content: 'take';
            }
        }
        &--5 {
            &::after {
                content: 'experience';
            }
        }
        &--8 {
            &::after {
                content: 'host';
            }
        }

        &--2 {
            background-image: url(/assets/img/place-1.jpg);
        }
        &--3 {
            background-image: url(/assets/img/place-2.jpg);
            align-items: flex-end;
        }
        &--6 {
            background-image: url(/assets/img/place-3.jpg);
        }
        &--7 {
            background-image: url(/assets/img/place-4.jpg);
            align-items: flex-end;
        }
    }

    &__heading {
        font-size: $font-size-large;
        letter-spacing: 0.1em;
        margin: 0 auto 3rem;
    }

    &__summary {
        display: flex;
        align-items: center;

        &--text {
            border-radius: 5px;
            padding: 0.5rem 1rem;
            color: $color-white;
            opacity: 0;
            background: linear-gradient(
                to right,
                transparent 50%,
                rgba($color-primary, 0.5) 50%
            );
            background-size: 200% 100%;
            background-position: left;
            transition: all 0.8s ease-out;
        }

        &:hover &--text {
            opacity: 1;
            background-position: right;
        }

        &--icon {
            margin: 2rem;
            height: 3.6rem;
            width: 3.6rem;
            fill: $color-white;
            transition: fill 0.8s;
        }

        &:hover &--icon {
            fill: $color-primary;
        }
    }
}
