.explore {
    margin: 0 auto;
    width: 100rem;

    @media screen and (max-width: 768px) {
        width: 80rem;
    }

    @media screen and (max-width: 480px) {
        width: 100%;

        & > .row {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            gap: 0;

            .col-1-of-2 {
                width: 100%;
            }
        }
    }

    &__box {
        height: 35rem;

        @media screen and (max-width: 768px) {
            height: 43rem;
        }

        @media screen and (max-width: 375px) {
            height: fit-content;
        }

        &--text {
            height: fit-content;
        }

        &--image {
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__heading {
        width: fit-content;
        margin: 0 auto 3rem;
    }

    &__image {
        border-radius: 1.5rem;
        object-fit: cover;
        width: 100%;
        position: absolute;
    }

    &__summary {
        display: flex;
        align-items: center;
        z-index: 10;

        &--right {
            justify-content: flex-end;
        }

        &--text {
            border-radius: 5px;
            padding: 0.5rem 1rem;
            color: $color-primary;
            opacity: 0;
            background: linear-gradient(
                to right,
                transparent 50%,
                rgba($color-white, 0.5) 50%
            );
            background-size: 200% 100%;
            background-position: left;
            transition: all 0.8s ease-out;

            @media screen and (max-width: 768px) {
                opacity: 1;
                background: rgba($color-white, 0.5);
            }
        }

        &:hover &--text {
            opacity: 1;
            background-position: right;
        }

        &--icon {
            margin: 2rem;
            height: 3.6rem;
            width: 3.6rem;
            fill: $color-white;
            transition: fill 0.8s;

            @media screen and (max-width: 768px) {
                fill: $color-primary;
            }

            @media screen and (max-width: 375px) {
                margin: 1.5rem;
                height: 3.2rem;
                width: 3.2rem;
            }
        }

        &:hover &--icon {
            fill: $color-primary;
        }
    }
}
