.feature-box {
    width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 3rem;

    @media screen and (max-width: 1280px) {
        width: 100rem;
    }

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__images-container {
        position: relative;
    }

    &__images-box {
        opacity: 0;
        padding: 0 4rem;

        @media screen and (max-width: 1280px) {
            padding: 0;
        }

        @media screen and (max-width: 768px) {
            padding: 0 4rem;
        }

        @media screen and (max-width: 375px) {
            padding: 0 2rem;
        }

        @media screen and (max-width: 375px) {
            width: 100vw;
        }

        &--2,
        &--3,
        &--4 {
            position: absolute;
            top: 0;
        }

        &--active {
            animation: slide-in-top 0.9s ease-out;
            animation-fill-mode: forwards;

            @media screen and (max-width: 768px) {
                animation: slide-in-right 0.9s ease-out forwards;
            }
        }

        &--inactive {
            animation: slide-out-bottom 0.9s ease-out;

            @media screen and (max-width: 768px) {
                animation: slide-out-left 0.9s ease-out forwards;
            }
        }
    }

    &__images {
        width: 100%;
        box-shadow: 0.5rem 0.5rem 1rem rgba($color-black, 0.5);
        border-radius: 1.5rem;

        @media screen and (max-width: 768px) {
            width: 40%;
        }

        @media screen and (max-width: 480px) {
            width: 70%;
        }

        // @media screen and (max-width: 375px) {
        //     width: 27.5rem;
        // }

        &--2 {
            transform: translateX(4rem);

            @media screen and (max-width: 480px) {
                transform: translateY(-3rem);
                display: block;
                margin-left: auto;
            }

            // @media screen and (max-width: 375px) {
            //     padding: 0 2rem;
            // }
        }
    }

    &__labels-container {
        justify-self: center;
        z-index: 3;
        width: 35rem;

        @media screen and (max-width: 1280px) {
            width: 32rem;
        }
    }

    &__label {
        font-family: $font-family-alt;
        font-size: $font-size-large;
        font-weight: 400;
        width: fit-content;
        padding-left: 2rem;
        margin-bottom: 4rem;
        opacity: 0.4;
        cursor: pointer;
        user-select: none;

        @media screen and (max-width: 768px) {
            margin-bottom: 2rem;
        }

        @media screen and (max-width: 480px) {
            margin-bottom: 1rem;
        }

        &:hover {
            opacity: 0.7;
            border-left: 3px solid $color-primary;
        }

        &:nth-of-type(even) {
            margin-left: auto;
        }

        &--active {
            color: $color-black;
            opacity: 1;
        }
    }

    &__text-container {
        position: relative;
        user-select: none;
    }

    &__text-box {
        width: 35rem;
        margin-left: auto;
        padding: 6rem 3rem;
        opacity: 0;
        transition: transform 1.6s ease-out;
        box-shadow: 0.5rem 0.5rem 1rem rgba($color-black, 0.1);

        @media screen and (max-width: 1280px) {
            width: 32rem;
        }

        @media screen and (max-width: 768px) {
            width: 80%;
            margin-left: auto;
            margin-right: 4rem;
        }

        @media screen and (max-width: 480px) {
            padding: 5rem 2rem;
        }

        @media screen and (max-width: 375px) {
            margin-right: 2rem;
            width: 90%;
        }

        &--2,
        &--3,
        &--4 {
            position: absolute;
            top: 0;
            right: 0;
        }

        &--active {
            animation: slide-in-bottom 0.9s ease-out forwards;

            @media screen and (max-width: 768px) {
                animation: slide-in-left 0.9s ease-out forwards;
            }
        }

        &--inactive {
            animation: slide-out-top 0.9s ease-out;

            @media screen and (max-width: 768px) {
                animation: slide-out-right 0.9s ease-out forwards;
            }
        }
    }
}
