.menu {
    position: absolute;
    left: 3%;
    bottom: 10%;
    z-index: 0;

    @media screen and(max-width: 768px) {
        left: 8%;
        bottom: 20%;
    }

    @media screen and (max-width: 480px) {
        text-align: center;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100vw;
    }

    //test
    // background-color: violet;

    &__list {
        list-style-type: none;
        display: none;
    }

    &__item {
        font-family: $font-family-alt;
        font-size: $font-size-large;
    }

    &__link {
        text-decoration: none;
        color: $color-white;
        transition: opacity 1.2s;
        opacity: 0;
        cursor: pointer;

        &:hover {
            color: $color-secondary-light;
        }
    }

    &--active &__list {
        display: block;
        z-index: 1;
    }
}
