.room {
    display: inline-block;
    position: relative;
    transition: transform 0.8s;
    overflow: hidden;

    //test
    // border: 1px solid black;

    &--small {
        height: 38rem;
        border-radius: 1.5rem;
        margin-bottom: 3rem;

        @media screen and (max-width: 1280px) {
            height: 32rem;
        }

        @media screen and(max-width: 768px) {
            height: 25rem;
        }

        @media screen and (max-width: 480px) {
            height: 18rem;
            margin-bottom: 1rem;
        }

        @media screen and (max-width: 375px) {
            margin-bottom: 0;
        }
    }

    &--medium {
        height: 49rem;
        margin-bottom: 3rem;

        @media screen and (max-width: 1280px) {
            height: 40rem;
        }

        @media screen and(max-width: 768px) {
            height: 32rem;
        }

        @media screen and (max-width: 480px) {
            height: 23rem;
            margin: 0rem;
        }

        @media screen and (max-width: 375px) {
            height: 30rem;
        }
    }

    &--large {
        height: 60rem;
        border-radius: 3rem;

        @media screen and (max-width: 1280px) {
            height: 48rem;
        }

        @media screen and(max-width: 768px) {
            height: 40rem;
        }

        @media screen and (max-width: 480px) {
            height: 28rem;
        }

        @media screen and (max-width: 375px) {
            height: 21rem;
        }

        @media screen and (max-width: 375px) {
            height: 18rem;
            border-radius: 2rem;
        }
    }

    &__image {
        width: 100%;
        object-fit: cover;
        transition: transform 3s ease-out;
    }

    &__image-wrapper {
        height: 100%;
        width: 80%;
        margin: 0 auto;

        @media screen and (max-width: 375px) {
            width: 100%;
        }

        &--main {
            width: 80%;
            transition: transform 3s ease-out;

            @media screen and (max-width: 375px) {
                width: 90%;
            }
        }

        &--sub {
            width: 30%;
            transition: transform 2s ease-in;
            border-radius: 1.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transition-delay: 0.8s;

            @media screen and (max-width: 375px) {
                width: 40%;
                top: 55%;
                left: 55%;
            }
        }

        & > * {
            @media screen and(max-width: 768px) {
                transform: translateY(-2rem);
            }
        }

        //test
        // border: 1px solid black;
    }

    &__text {
        // text-decoration: none;
        transition: all 0.8s ease-out;
        position: absolute;

        &--pos1 {
            bottom: 10%;
            left: 10%;

            @media screen and (max-width: 375px) {
                top: 10%;
            }
        }

        &--pos2 {
            bottom: 10%;
            right: 10%;

            @media screen and (max-width: 375px) {
                top: 10%;
            }
        }

        &--pos3 {
            transform-origin: center;
            transform: translateX(-50%);
            bottom: 15%;
            left: 50%;

            @media screen and (max-width: 768px) {
                bottom: 10%;
            }
        }

        &--pos4 {
            top: 20%;
            right: 10%;

            @media screen and (max-width: 768px) {
                right: 8%;
            }

            @media screen and (max-width: 375px) {
                top: 10%;
                left: 10%;
            }
        }
    }

    &:hover &__text {
        font-size: $font-size-s-large;
        letter-spacing: 0.5rem;
    }

    &:hover &__image {
        transform: scale(1.2);
    }

    &:hover &__image-wrapper > * {
        transform: translateY(-2rem);
    }
}
