.services {
    &__wrapper {
        width: 80vw;
        margin: 3rem auto;
        display: flex;
        gap: 2rem;
        justify-content: center;
        flex-wrap: wrap;

        @media screen and (max-width: 1200px) {
            width: 90vw;
        }

        @media screen and (max-width: 768px) {
            gap: 1rem;
        }

        @media screen and (max-width: 480px) {
            width: 100%;
            gap: 0.5rem;
        }

        @media screen and (max-width: 320px) {
            gap: 0;
        }
    }

    &__content {
        width: 15rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s;

        @media screen and (max-width: 768px) {
            width: 13rem;
        }
    }

    &__icon {
        width: 3.6rem;
        height: 3.6rem;
        fill: $color-primary-light;
        transition: transform 0.8s;

        @media screen and (max-width: 768px) {
            width: 2.8rem;
            height: 2.8rem;
        }
    }

    &__icon--active &__icon {
        transform: rotateZ(360deg);
    }

    &__text {
        font-size: $font-size-small;
        text-align: center;

        // &::selection {
        //     background-color: $color-white;
        //     color: $color-primary-light;
        // }
    }
}
