.slideshow {
    margin: 2rem auto 0;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    position: relative;
    height: 20rem;

    @media screen and (max-width: 1280px) {
        height: 16rem;
    }

    @media screen and (max-width: 480px) {
        height: 12rem;
    }

    @media screen and (max-width: 320px) {
        height: 10rem;
    }

    &__images {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(0, 0, 0);
        animation: slide-show-right 120s linear infinite;

        & > img {
            aspect-ratio: 3 / 2;
            height: 20rem;
            margin: 0 1rem;
            opacity: 0.8;
            transition: transform 0.8s, opacity 0.8s;
            border-radius: 5px;

            @media screen and (max-width: 1280px) {
                height: 16rem;
            }

            @media screen and (max-width: 480px) {
                height: 12rem;
            }

            @media screen and (max-width: 320px) {
                height: 10rem;
            }

            &:hover {
                transform: scale(1.05);
                opacity: 1;
            }
        }
    }
}
