.slider {
    position: relative;
    width: fit-content;
    margin: 0 auto;

    & .slide {
        width: 120rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.4s ease-in;

        &--2,
        &--3 {
            position: absolute;
            top: 6rem;
        }

        &--active {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font-size-huge;
        color: $font-color-default;
        background-color: rgba($color: $color-white, $alpha: 0.6);
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        border: none;
        position: absolute;
        bottom: 50%;

        &:hover {
            color: $font-color-inverted;
            background-color: rgba($color: $color-black, $alpha: 0.6);
        }

        &:active {
            transform: scale(0.98);
        }

        &--left {
            left: 0%;
        }
        &--right {
            right: 0%;
        }
    }

    & .dots {
        margin: 0 auto 3rem;
        width: fit-content;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        //test
        // background-color: orangered;

        &__dot {
            width: 1rem;
            height: 1rem;
            background-color: rgba($font-color-default, 0.5);
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.8s;

            &:not(:last-child) {
                margin-right: 1rem;
            }

            &--active {
                background-color: rgba($color-black, 0.7);
            }
        }
    }
}
