.wrapper {
    height: 100vh;
    overflow-x: hidden;
    transition: all 0.8s ease-in-out;
    background-color: $color-white;

    &--inverted {
        transform: translate(25%, 5%) scale(0.9);
        border-radius: 1rem;
    }
}
