body {
    font-family: $font-family-default;
    font-size: $font-size-default;
    color: $font-color-default;
    font-weight: 400;
    line-height: 1.7;
}

.heading-primary {
    color: $color-white;
    font-weight: 500;
    letter-spacing: 1rem;
    // font-family: $font-family-alt;

    &--main {
        font-size: $font-size-huge;
        margin-bottom: 1rem;

        @media screen and (max-width: 480px) {
            font-size: $font-size-x-large;
            letter-spacing: 0.2rem;
        }

        @media screen and (max-width: 320px) {
            font-size: $font-size-s-large;
        }
    }

    &--sub {
        // font-family: $font-family-alt;
        font-size: $font-size-large;
        font-weight: 700;

        @media screen and (max-width: 480px) {
            font-size: $font-size-s-large;
            letter-spacing: 0.1em;
        }

        @media screen and (max-width: 320px) {
            font-size: $font-size-s-large;
        }
    }
}

.heading-secondary {
    color: $color-black;

    &--main {
        font-size: $font-size-x-large;
        letter-spacing: 0.1em;

        @media screen and (max-width: 480px) {
            letter-spacing: 2px;
        }

        @media screen and (max-width: 375px) {
            font-size: $font-size-s-large;
            letter-spacing: 1px;
        }
    }

    &--sub {
        font-size: $font-size-default;

        @media screen and (max-width: 375px) {
            font-size: $font-size-default;
        }
    }
}

.heading-tertiary {
    font-size: $font-size-s-large;
    font-weight: 700;
    letter-spacing: 0.1em;

    & span {
        font-family: $font-family-alt;
        color: $color-primary-dark;
    }

    @media screen and (max-width: 375px) {
        font-size: $font-size-medium;
    }
}

.paragraph {
    font-size: $font-size-default;

    &:not(:last-child) {
        margin-bottom: 3rem;

        @media screen and (max-width: 768px) {
            margin-bottom: 1.5rem;
        }

        @media screen and (max-width: 480px) {
            margin-bottom: 1rem;
        }
    }
}
