body {
    font-family: $font-family-default;
    font-size: $font-size-default;
    color: $font-color-default;
    font-weight: 400;
    line-height: 1.7;
}

.heading-primary {
    color: $color-white;
    font-weight: 400;

    &--main {
        font-size: $font-size-huge;

        & span:last-child {
            font-family: $font-family-alt;
            font-weight: 700;
        }
    }

    &--sub {
        font-size: $font-size-large;

        & span:nth-child(2),
        & span:nth-child(3) {
            font-family: $font-family-alt;
            font-weight: 700;
        }
    }
}

.heading-secondary {
    color: $color-black;

    &--main {
        font-size: $font-size-x-large;
        letter-spacing: 0.1em;
    }

    &--sub {
        font-size: $font-size-default;
    }
}

.heading-tertiary {
    font-size: $font-size-s-large;
    font-weight: 700;
    letter-spacing: 0.1em;

    & span {
        font-family: $font-family-alt;
    }
}

.paragraph {
    font-size: $font-size-default;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
