.section-header {
    width: 100vw;
    padding: 7rem 6rem 6rem 6rem;
}

// need to create about.scss ref from here
.section-about {
    height: 100vh;
    position: relative;
    padding: 6rem;

    & .title {
        color: $color-black;
        position: absolute;
        top: 0;
        left: 10%;
    }

    & .info-card {
        position: absolute;
        left: 10%;
        bottom: 10%;
    }

    &__heading {
        max-width: 55rem;
        margin: 6rem auto;
    }

    &__text {
        margin: 0 auto;
        max-width: 43rem;
    }

    &__image {
        position: absolute;
        border-radius: 1.5rem;
        transform: translate3d(0, 0, 0);
        transition: transform 0.8s ease-out;

        &--1 {
            width: 32rem;
            height: 42rem;
            top: 20%;
            left: 5%;
        }
        &--2 {
            width: 32rem;
            height: 42rem;
            top: 0%;
            right: 5%;
        }
        &--3 {
            width: 48rem;
            height: 32rem;
            right: 10%;
            bottom: 10%;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
            transition: transform 1s ease-out;
        }
    }
}

.section-rooms {
    padding: 0rem 6rem;

    &__heading {
        margin-bottom: 3rem;
    }
}

.section-feature {
    margin-top: 6rem;
    padding: 0 6rem;
    overflow: hidden;

    &__heading {
        transform: translateY(4rem);
        width: fit-content;
        margin-left: auto;
    }
}

.section-services {
    margin: 6rem;

    &__heading {
        margin-bottom: 6rem;
    }
}

.section-explore {
    margin: 6rem;
    padding: 0 6rem;

    &__heading {
        margin-bottom: 6rem;
    }
}
