.section-header {
    width: 100vw;
    padding: 7rem 6rem 6rem;
}

.section-about {
    height: 100vh;
    padding: 0 6rem;
    margin-bottom: 6rem;

    & .row {
        height: 100%;

        & .col-1-of-3 {
            height: 90%;
        }
    }

    &__heading {
        margin: 6rem auto 6rem;
    }

    &__text {
        margin: 0 auto;
        max-width: 43rem;
    }

    &__image {
        position: absolute;
        border-radius: 1.5rem;
        transform: translate3d(0, 0, 0);
        transition: transform 1s ease-out;
        object-fit: cover;

        &--1 {
            aspect-ratio: 3/4;
            width: 20vw;
            top: 30%;
        }

        &--2 {
            aspect-ratio: 3/4;
            width: 20vw;
            top: 0%;
        }
        &--3 {
            aspect-ratio: 3/2;
            width: 25vw;
            right: 30%;
            bottom: 0%;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
            transition: transform 1.2s ease-out;
        }
    }
}

.section-rooms {
    padding: 0rem 6rem;
    margin-bottom: 6rem;

    &__heading {
        margin: 0 6rem 3rem;
    }
}

.section-feature {
    margin-top: 6rem;
    padding: 6rem;
    overflow: hidden;

    &__heading {
        transform: translateY(4rem);
        width: fit-content;
        margin-left: auto;
    }
}

.section-services {
    margin: 12rem 0 6rem;

    &__heading {
        width: fit-content;
        margin: 0 auto 6rem;
    }
}

.section-explore {
    margin: 12rem 6rem 6rem;
    padding: 0 6rem;

    &__heading {
        margin: 0 6rem 3rem;
    }
}

.section-book {
    height: 50rem;
    margin-bottom: 12rem;
    background-image: url(../../assets/img/book-bg.jpg);
    background-attachment: fixed;
    background-size: cover;

    position: relative;

    &__title {
        position: absolute;
        top: 10%;
        left: 20%;
        color: $color-white;
    }

    &__info-card {
        position: absolute;
        bottom: 10%;
        left: 20%;
    }

    &__form {
        position: absolute;
        top: 30%;
        right: 15%;
    }
}

.section-blog {
    padding: 0 6rem;
    margin: 2rem auto 0;

    &__heading {
        margin: 3rem 6rem;
    }

    &__news {
        margin-bottom: 6rem;
    }

    &__newsletter {
        text-align: center;
        margin-bottom: 3rem;
        color: $color-black;
    }

    & .form {
        margin: 0 auto;
        text-align: center;
        background-color: transparent;
    }

    & .form__input {
        border: 1px solid $color-black;
        text-align: center;
    }

    &__button {
        margin: 3rem;
        box-shadow: 0 1rem 5px rgba($color-black, 0.25);
    }
}
